/* Styling for containers, main portion of page, timers */
body {
  color: #fff;
}
.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.385);
  font-size: 3rem;
  min-width: 75rem;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 100ms;
  transform: scale(1.03);
}
.clockScore {
  color: black;
  font-size: 35px;
  float: right;
  padding: 15px;
  padding-right: 3rem;
}

#countdown {
  color: white;
}
#score {
  color: white;
}

.choice-prefix {
  padding: 2rem 5rem;
  color: white;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}
/* Color change styling for correct/incorrect selections */
.correct {
  background: linear-gradient(
    32deg,
    rgba(11, 223, 36) 0%,
    rgb(41, 232, 111) 100%
  );
}

.incorrect {
  background: linear-gradient(
    32deg,
    rgba(230, 29, 29, 1) 0%,
    rgb(224, 11, 11, 1) 100%
  );
}

/* Media Queries */
/* Desktops, large Screens */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  /* Styles */
}

/* Small screens, laptops */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  /* Styles */
  .choice-container {
    min-width: 50rem;
  }
}

/* iPads, Tablets */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  /* Styles */
  .choice-container {
    min-width: 20rem;
  }
  .choice-text {
    font-size: 20px;
  }
  .choice-prefix {
    font-size: 15px;
  }
  .btn {
    width: 15rem;
    font-size: 20px;
  }
  .clockScore {
    font-size: 25px;
    padding: 1px;
    padding-right: 1rem;
  }
  #question {
    font-size: 25px;
  }
}

/* Mobile devices */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .choice-container {
    min-width: 5rem;
  }
  .choice-text {
    font-size: 20px;
  }
  .choice-prefix {
    font-size: 20px;
  }
  .btn {
    width: 8rem;
    font-size: 15px;
  }
  .clockScore {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 2px;
    padding-right: 1rem;
  }
  #question {
    font-size: 25px;
  }
}
